# --- Core Dependencies ---
streamlit
pandas
requests
python-dotenv
PyYAML
pathlib
pillow

# --- Visualization ---
plotly

# --- MLflow Client ---
mlflow

# --- Auto-refresh plugin ---
streamlit-autorefresh

# --- Miscellaneous ---
numpy

